@media only screen and (max-width: 600px) {
    @font-face {
        font-family: 'Migra';
        src: url('../fonts/Migra-ExtraBold.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        letter-spacing: 1px
     }

     #folioHeaderTitle {
        font-size: 4em;
        line-height: 1em;
        position: absolute;
        top: 15%;
    }
    #folioHeaderImage {
        height: 350px;
    }

     .menuItem {
        font-size: 5em;
    }
    #navMenu {
        top: 45%;
    }
    .mobileSectionHeading {
        display: block;
        line-height: 1;
        letter-spacing: 1px;
    }
    .desktopSectionHeading {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        position: relative;
        align-content: center;
        margin-bottom: 0;
    }
    #copyright {
        display: none;
    }
    #copyrightMobile {
        text-align: center;
        font-size: x-small;
    }

    .sectionHeading {
        font-size: 3em;
    }
    #TLDRHeading {
        font-size: 3em !important;
    }

    #lottieHeader {
        width: 95%; 
        height: auto;
    }

    header {
        height: 30vh;
        width: 100vw;
    }

    .rotate {
        height: 45px;
        width: 45px;
    }
    .marquee {
        font-size: 1em;
     } 
     .list-inline img {
        height:10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .linkItem a {
        width: auto;
        height: 20px;
        display: inline;
        padding: 10px;
        font-size: smaller;
        text-align: center;
    }
    .projectPreviews {
        margin-bottom: 30px;
    }

    #profile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    #profilePic {
        display: none;
    }
    #lancePortrait {
        background-image: url("../images/profilePictureLance.jpg");
        display: block;
        background-size: cover;
        height: 380px;
        width: 380px;
        border: 1px solid white;
    }
    
    #profileIntro p, #profileIntro h3 {
        font-size: 1em;

    }
    .profileContent {
        display: block;
        padding: 20px;
    }

    #diamonShape {
        height: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #diamonShapeContact {
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .breakLineStar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: -30px;
    }
    #emailMeButton {
        width: 200px; 
        height: 181px;
    }
    #contactList {
        height: 100px;
    }

    .linkItemFooter {
        width: auto;
    }
    #creditsLine {
        margin-top: 20px;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mobileOnlyBR {
        display: block;
    }

    .halfHalfLeft {
        text-align: left;
        min-width: 300px;
        width: 100%;
        padding: 0 20px;
    }

    .halfHalfRight {
        padding: 0 20px 40px 20px;
    }

    #menuLeft, #menuRight {
        display: none;
    }
    .tabHeading {
        font-size: 1em;
        letter-spacing: 1px;
        width: auto;
    }
    .tablinks {
        padding: 10px 20px;
    }
    #tldrSection p {
        font-size: 1em;
    }
    .hideOnSmall {
        display: none;
    }

    .folioSlab {
        width: min-content;
        max-width: 300px;
    }
    .folioSlabL {
        border-bottom: 1px solid white;
        max-width: 300px;
        max-height: 300px;
    }
    .folioSlabR {
        box-sizing: content-box;
        min-height: fit-content;
        height: auto;
    }

    .slideshow-container {
        max-width: 260px;
        max-height: 260px;
    }

}
@media screen and (min-width: 601px) and (max-width : 768px) {

    #folioHeaderImage {
        height: 350px;
    }

    #folioHeaderTitle {
        font-size: 6em;
        line-height: 1em;
        position: absolute;
        top: 12%;
    }

    .mobileSectionHeading {
        display: block;
        line-height: 1;
        letter-spacing: 1px;
    }
    .desktopSectionHeading {
        display: none;
    }
    #navMenu {
        top: 45%;
    }

    #lottieHeader {
        width: 70%; 
        height: auto;
    }
    header {
        height: 30vh;
    }
    .sectionHeading {
        font-size: 3.5em;
    }
    .linkItemNav a {
        padding-right: 20px;
        padding-left: 20px;
    }
    .rotate {
        height: 50px;
        width: 50px;
    }
    #profile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    #profilePic {
        display: none;
    }
    #lancePortrait {
        background-image: url("../images/profilePictureLance.jpg");
        display: block;
        background-size: cover;
        height: 460px;
        width: 470px;
        border: 1px solid white;
    }
    
    .profileContent {
        display: block;
        padding: 20px;
    }
    #profileIntro p, #profileIntro h3 {
        font-size: 1.3em;
    }
    .marquee {
        font-size: 2em;
        padding-top: 10px;
     } 
    .typeHead6 {
        padding-bottom: 150px;
    }
    .list-inline img {
        height:30px;
    }
    #projectSkillsSection {
        padding-bottom: 50px;
    }
    .projectPreviews {
        margin-bottom: 30px;
    }

    #diamonShape {
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #profile {
        padding-top: 20px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .breakLineStar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: -35px;
    }
    .linkItemFooter {
        padding: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .menuItem {
        font-size: 7em;
    }

    .linkItemFooter {
        width: auto;
    }
    #emailMeButton {
        width: 300px; 
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    #copyright {
        display: none;
    }
    #copyrightMobile {
        font-size: x-small;
    }
    #creditsLine {
        margin-top: 20px;
    }
    .mobileOnlyBR {
        display: block;
    }

    .halfHalfLeft {
        text-align: left;
        min-width: 300px;
        width: 500px;
        padding: 0 20px;
    }

    .halfHalfRight {
        padding: 0 20px 40px 20px;
    }
    #menuLeft, #menuRight {
        display: none;
    }
    .tabHeading {
        font-size: 1.5em;
        width: auto;
    }
    .tablinks {
        padding: 20px 40px;
    }
    #tldrSection p {
        font-size: 1em;
    }

    #folioTabs button, #aboutTabs button  {
        padding: 14px 16px;
    }

    .folioSlab {
        width: min-content;
        max-width: 400px;
    }
    .folioSlabL {
        border-bottom: 1px solid white;
        max-width: 400px;
        max-height: 400px;
    }
    .folioSlabR {
        box-sizing: content-box;
        min-height: fit-content;
        height: auto;
    }

    .slideshow-container {
        max-width: 380px;
        max-height: 380px;
    }

  }

  @media only screen and (min-width : 768px) and (max-width : 1023px) {
    
    #folioHeaderImage {
        height: 655px;
    }

    #folioHeaderTitle {
        font-size: 8em;
        line-height: 1em;
        position: absolute;
        top: 20%;
    }

    #navMenu {
        top: 50%;
    }
    .mobileSectionHeading {
        display: none;
    }
    .desktopSectionHeading {
        display: block;
        letter-spacing: 1px;
    }

    #lottieHeader {
        width: 70%; 
        height: auto;
    }
    header {
        height: 50vh;
    }
    .sectionHeading {
        font-size: 3.5em;
    }
    .linkItemNav a {
        padding-right: 20px;
        padding-left: 20px;
    }
    .rotate {
        height: 50px;
        width: 50px;
    }
    .projectPreviews {
        margin-bottom: 30px;
    }

    #profilePic {
        height: 550px;
        width: 550px !important;
        z-index: 1;
        position: relative;
        right: -10px;
        top: -10px;
        display: block;
    }
    #profilePic {
        background-image: url(../images/profilePictureLanceD.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: drop-shadow(3px 4px 10px rgb(200, 89, 89));
    }
    #lancePortrait {
        display: none;
    }
    
    #profileIntro {
        height: 350px;
        min-width: 450px;
        position: relative;
        left: -55px;
        top: 100px;
        z-index: 2;
        backdrop-filter: blur(50px);
        padding: 20px 40px;
    }
    #profileIntro p, #profileIntro h3 {
        font-size: 1.3em;
    }
    .marquee {
        font-size: 3em;
        padding-top: 10px;
     } 
    .typeHead6 {
        padding-bottom: 150px;
    }
    .list-inline img {
        height:30px;
    }
    #projectSkillsSection {
        padding-bottom: 50px;
    }
    #diamonShape {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #introduceHeading {
        position: absolute;
        display: block;
        z-index: 4;
        top: 0px;
        padding-top: 20px;
        text-shadow: 2px 2px 8px #000000;
    }
    #profile {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .breakLineStar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: -35px;
    }
    .linkItemFooter {
        padding: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .menuItem {
        font-size: 7em;
    }

    .linkItemFooter {
        width: auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        position: relative;
        align-content: center;
    }

    #copyright {
        display: none;
    }

    #creditsLine {
        text-align: center;
        align-self: center;
        justify-self: center;
        margin-top: 20px;
    }
    
    #copyrightMobile {
        align-self: center;
        justify-self: center;
        font-size: x-small;
    }
    .mobileOnlyBR {
        display: none;
    }
    #menuLeft, #menuRight {
        display: none;
    }
    .tabHeading {
        font-size: 1.8em;
        width: auto;
    }
    .tablinks {
        padding: 20px 30px;
    }
    #tldrSection p {
        font-size: 1.2em;
    }
    #folioTabs button, #aboutTabs button  {
        padding: 0;
    }


    .folioSlab {
        width: min-content;
        max-width: 450px;
    }
    .folioSlabL {
        border-bottom: 1px solid white;
        max-width: 450px;
        max-height: 450px;
    }
    .folioSlabR {
        box-sizing: content-box;
        min-height: fit-content;
        height: auto;
    }

    .slideshow-container {
        max-width: 400px;
        max-height: 400px;
    }

}
  @media only screen  and (min-width : 1024px) {

    #folioHeaderImage {
        height: 655px;
    }

    #folioHeaderTitle {
        font-size: 12em;
        line-height: 1em;
        position: absolute;
        top: 18%;
    }

    #navMenu {
        top: 50%;
    }
    .mobileSectionHeading {
        display: none;
    }
    .desktopSectionHeading {
        display: block;
        letter-spacing: 1px;
    }

    #lottieHeader {
        width: 70%; 
        height: auto;
    }
    header {
        height: 70vh;
    }
    .sectionHeading {
        font-size: 3.5em;
    }
    .linkItemNav a {
        padding-right: 20px;
        padding-left: 20px;
    }
    .rotate {
        height: 50px;
        width: 50px;
    }
    #profilePic {
        height: 550px;
        width: 550px !important;
        z-index: 1;
        position: relative;
        right: -10px;
        top: -10px;
        display: block;
    }
    #profilePic {
        background-image: url(../images/profilePictureLanceD.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: drop-shadow(3px 4px 10px rgb(200, 89, 89));
    }
    #lancePortrait {
        display: none;
    }
    
    #profileIntro {
        height: 350px;
        min-width: 450px;
        position: relative;
        left: -55px;
        top: 100px;
        z-index: 2;
        backdrop-filter: blur(50px);
        padding: 20px 40px;
    }
    #profileIntro p, #profileIntro h3 {
        font-size: 1.3em;
    }
    .marquee {
        font-size: 3em;
        padding-top: 10px;
     } 
    .typeHead6 {
        padding-bottom: 150px;
    }
    .list-inline img {
        height:30px;
    }
    #projectSkillsSection {
        padding-bottom: 50px;
    }
    #diamonShape {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #introduceHeading {
        position: absolute;
        display: block;
        z-index: 4;
        top: 0px;
        padding-top: 20px;
        text-shadow: 2px 2px 8px #000000;
    }
    #profile {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .breakLineStar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: -35px;
    }
    .linkItemFooter {
        padding: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .menuItem {
        font-size: 7em;
    }

    .linkItemFooter {
        width: auto;
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .projectPreviews {
        margin-bottom: 50px;
    }

    .animatable {
  
        /* initially hide animatable objects */
        visibility: hidden;
        
        /* initially pause animatable objects their animations */
        -webkit-animation-play-state: paused;   
        -moz-animation-play-state: paused;     
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;   
        animation-play-state: paused; 
      }
      
      /* show objects being animated */
      .animated {
        visibility: visible;
        
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
      
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -ms-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
      }
      
      
      @-webkit-keyframes fadeInUp {
          0% {
              opacity: 0;
              -webkit-transform: translateY(20px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes fadeInUp {
          0% {
              opacity: 0;
              -moz-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes fadeInUp {
          0% {
              opacity: 0;
              -o-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes fadeInUp {
          0% {
              opacity: 0;
              transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      .animated.fadeInUp {
          -webkit-animation-name: fadeInUp;
          -moz-animation-name: fadeInUp;
          -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
      }
      #emailMeButton {
            width: 500px; 
            height: auto;
            cursor: url('../images/pressButtonPointer60.png'), pointer;
      }
      .linkItemFooter {
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .menuItem {
        font-size: 9em;
    }
    #profileIntro {
        margin-top: 20px;
    }
    .sectionHeading {
        font-size: 5em;
    }
    #copyrightMobile {
        display: none;
    }
    #creditsLine {
        margin-right: 0;
        margin-left: auto;
        width: 250px;
        text-align: right;
    }
    .mobileOnlyBR {
        display: none;
    }

    .halfHalfLeft {
        text-align: right;
        padding: 10px 20px;
    }

    .halfHalfRight {
        padding: 0 20px 40px 20px;
    }
    #menuLeft, #menuRight {
        display: flex;
    }
    .tabHeading {
        font-size: 2em;
        margin: 20px 40px;
        width: auto;
    }
    .tablinks {
        padding: 20px 40px;
    }
    .mobileOnly {
        display: none;
    }
    #tldrSection p {
        font-size: 1.2em;
    }
    #folioTabs button, #aboutTabs button  {
        padding: 14px 16px;
    }
    
    .folioSlab {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 1px solid white;
        align-content: center;
        justify-content: center;
        margin: 20px 0;
    }
    
    .folioSlabL {
        height: 440px;
        width: 440px;
        padding: 20px;
        display: flex;
        box-sizing: border-box;
        border-right: 1px solid white;
    }
    .folioSlabR {
        display: flex;
        flex-direction: column;
        min-height: 400px;
        width: 400px;
        padding: 20px;
        justify-content: center;
        align-content: center;
    }
  }  
  @media only screen  and (min-width : 1224px) {

  }



/*
Font: 		Amient
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T14212/amient
Foundry: 	Piotr Lapa
Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
Copyright:	Copyright © 2021 by Piotr _apa. All rights reserved.
Version: 	17
Created:	June 05, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Amient-Regular';
	src: url('../fonts/amient-regular.eot');
	src: url('../fonts/amient-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amient-regular.woff2') format('woff2'),
	     url('../fonts/amient-regular.woff') format('woff'),
	     url('../fonts/amient-regular.ttf') format('truetype'),
	     url('../fonts/amient-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-ExtraBold.woff2') format("woff2"),
    url('../fonts/Migra-Extrabold.ttf') format("truetype"),
    url('../fonts/Migra-Extrabold.otf') format("opentype"),
    url("../fonts/Migra-Extrabold.woff") format("woff"),
    url("../fonts/Migra-Extrabold.eot") format("eot");
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px
}
 /*@font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-ExtraLight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
 }
 @font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
 }*/
@font-face {
    font-family: 'NeueMontreal';
    src: url('../fonts/NeueMontreal-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px
}
@font-face {
    font-family: 'NeueMontreal';
    src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px
}
body {
    margin: 0;
    background-image: url(../images/backgroundNoisePatternL.jpg);
    background-repeat: repeat;
    background-color: black;
    box-sizing: content-box;
    color: white;  
    overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 1px
}

.headerNav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px;
     box-sizing: content-box;
     
}

header {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    flex-direction: column;
}

#lottieHeader {
    display: block;
    z-index: 1;
}

#logoContainerMenu {
    height: 50px;
}
#logoContainer {
    height: 50px;
    width: 100px;
    /*border: 1px solid saddlebrown;*/
    padding: 20px;
}

#lanceLogoMono{
    color: #262626;
    height: 30px;
}

/*#headerLinks {
    display: inline;
    height: auto;
    display: flex;
    align-items: center;
}*/

.linkItem a:hover {
    font-family: 'NeueMontreal';
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.linkItem a {
     width: 100px;
     height: 20px;
     display: inline;
     font-family: 'NeueMontreal';
     font-weight: 500;
     text-align: center;
     justify-content: center;
     color: white;
     text-decoration: none;
     letter-spacing: 1px;
     /* border: 1px solid yellowgreen; */
}

.rotate {
    animation: rotation 10s infinite linear;
    background-color: #000000;
    border-radius: 30px;
}
.rotatingIcon {
    align-items: flex-end;
    display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.marquee {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
    font-family: 'Migra';
    font-weight: 900;
    position: relative;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: #000000;
} 

.marquee::before {
    position: absolute;
    top: 0;
    width: 50px;
    height: 60px;
    content: "";
    z-index: 1;
    left: 0;
}

.marquee::after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 60px;
    content: "";
    z-index: 1;
    right: 0;
    /*background: linear-gradient(to left, black 3%, transparent 100%);*/
}
  
  
.marquee__content {
    width: 300% !important;
    display: flex;
    line-height: 60px;
    animation: marquee 50s linear infinite forwards;
    overflow: hidden;
}

.marquee__content2 {
    width: 300% !important;
    display: flex;
    line-height: 60px;
    animation: marquee 50s linear infinite forwards;
    overflow: hidden;
}
  
.list-inline {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-66.6%); }
}

.list-inline li {
    font-family: 'Migra';
    font-weight: 900;
    color: white;
    letter-spacing: 3px;
}
  
#projectSkillsSection {
      font-family: 'Migra';
      display: block;
      text-align: center;
      align-content: center;
}

#projectSectionContainer {
      padding-top: 10px;
      padding-bottom: 80px;
}

#skillsSectionContainer {
      padding-bottom: 50px;
      margin-top: -30px;
}

#projectSection .sectionHeading {
      display: block;
      flex-basis: 100%;
}

.projectPreviews {
      border: 1px solid white;
      width: 350px;
      display: block;
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      height: auto;
}

.projectDesc h3, .projectTitle, .projectDescription  {
    border-top: 1px solid white;
    margin: 0;
    padding: 15px;
}
.projectDesc h3 {
    background-color: transparent;
}



#deseImage {
    background-image: url(../images/DESE-project-image_2.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#whynotImage {
    background-image: url(../images/whynot-project-image_2.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#qupImage {
    background-image: url(../images/qup-project-image_2.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.projectDescription, .folioDesc {
    font-family: 'NeueMontreal';
    text-align: left;
}

.projectDesc a, #profileIntro a, .folioTitle a  {
      text-decoration: none;
      color: white;
      height: auto;
      font-family: 'Migra';
}

.sectionHeading {
      font-family: 'Migra';
      font-weight: 900;
      color: white;
      letter-spacing: 2px;
      margin-top: 50px;
      margin-bottom: 50px;
      /*border: 2px solid yellowgreen;*/
}

#diamonShape2 {
    height: 30px;
}
#diamondDivider{
    display: inline-flex;
    justify-self: center;
    text-align: center;
    justify-content: center;
}
#diamondDivider li {
    list-style: none;
}

.viewProjectButton {
      padding: 10px 20px;
      width: 150px;
      background-image: linear-gradient(to bottom right, #cb186000, #d35b2b00);
      display: inline-block;
      font-family: 'NeueMontreal';
      font-weight: 500;
      letter-spacing: 1px;
      margin: 10px;
      cursor: pointer;
      border-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
      color: white;
      border-width: 1px;
      border-style: solid;
      border-image-slice: 1;
      border-radius: 0px;
}

.viewProjectButton:hover {
    font-family: 'NeueMontreal';
    font-weight: 900;
    background-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
}

.viewProjectButton:focus {
    /*background-image: linear-gradient(to bottom right, #d35b2b, #cb1860);
    border: 1px solid white;*/
    font-family: 'NeueMontreal';
    font-weight: 900;
}

.viewProjectButton:active {
    /*background-image: linear-gradient(to bottom right, #00000000, #00000000);
    border: 1px solid white;*/
    font-family: 'NeueMontreal';
    font-weight: 900;
}

.flexContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      /*border: 2px solid yellowgreen;*/
}



#viewAll {
      display: block;
}

.skillContainer {
      width: 300px;
      min-width: 300px;
      display: block;
      padding: 0px;
      justify-content: center;
      /*border: 1px solid salmon;*/
      box-sizing: content-box;
      margin: 0 30px 30px 30px;
}

.wrapper {
      border: 0px;
      letter-spacing: 1px;
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      margin: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      box-sizing: content-box;
      width: 300px;
}

.wrapper h3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
}



#designWrapper {
    grid-template-columns: repeat(2, 1fr);
}

#toolsWrapper {
    grid-template-columns: repeat(3, 1fr);
}

.uxTag1a { 
    grid-column: 1 / span 6;
    grid-row: 1;
}

.uxTag2a {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.uxTag3a { 
    grid-column: 4 / span 3;
    grid-row: 2;
}

.uxTag4a {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.uxTag5a { 
    grid-column: 3 / span 2;
    grid-row: 3;
}

.uxTag6a {
    grid-column: 5 / span 2;
    grid-row: 3;
}

.skillsImage {
    height: 200px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

#doubleDiamondShape, #diamondDesign, #diamondToolbelt {
    width: 200px;
    margin: auto;
}

footer {
    font-family: 'NeueMontreal';
    padding: 30px 20px 20px 20px;
    color: white;
    display: flex;
    box-sizing: content-box;
    /* justify-content: space-between; */
    background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
}

#footerLinks {
    display: inline;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#copyright {
    margin-left: 0;
    margin-right: auto;
    width: 250px;
}


#creditsLine, #copyright {
    font-weight: 100;
    font-size: .8em;
    height: 30px;
    position: relative;
    bottom: 0px;
}

#aboutMe {
    text-align: center;
    color: white;
    font-family: 'NeueMontreal';
    display: block;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

#profileSection {
    display: absolute;
    /*border: 1px solid yellow;*/
}

#profile {
    display: flex;
    justify-content: center;
    position: relative;
}
.profileContent {
    display: flex;
    align-items: center;
}

#profileIntro {
    text-align: left;
    background-color: #000000;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 3px 4px 65px 10px rgba(0, 0, 0, 0.54);
    border: 1px solid white;
}
#contactMe {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;    
}

#contactMe .sectionHeading {
    display: block;
    flex-basis: 100%;
}
#contactMeContainer {
        font-family: 'Migra';
        display: block;
        text-align: center;
        align-content: center;
        padding: 50px 0;
        margin-top: -30px;
}
#diamonShapeContact {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#contactList {
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.rotateDiamond {
    animation: rotation2 5s infinite linear;

}

.rotatingDiamond {
    align-items: flex-end;
    display: flex;
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.hover-1 {
    background: linear-gradient(to bottom right,#cb1860, #d35b2b) var(--p,0)/var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
  }

  .hover-1:hover {
    --p: 100%;
    color: #fff;
  }

  #Layer_1 {
    --p: 100%;
    color: #fff;
    cursor: pointer;
  }
 
.toggle {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 11;
    cursor: pointer;
    border-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-radius: 0px;
}

.toggle a {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    color: #cb1860;

}

#navMenuBars {
    color: white;
    background-color: #000000;
    padding:10px;
}

#sideMenu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background: #FFF;
    background-image: url("../images/backgroundNoisePatternWh.jpg");
    background-repeat: repeat;
    z-index: 10;
    transition: 0.5s;
    display: flex;
    text-align: center;
    justify-content: center;
}

#navMenu {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.navMenuListItem {
    list-style: none;
}

#moltenMonoIMG {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -30;
    overflow: hidden;
    align-items: center;
    display: flex;
}
#moltenMonoIMG img {
    width: auto;
    height: 100vh;
}

.menuItem {
    display: inline-block;
    font-family: 'Migra';
    text-decoration: none;
    color: #262626;
    /*border: 1px solid yellowgreen;*/
}

#sideMenu.active {
    left: 0;
    overflow: auto;
    touch-action: none;
}

#menuItemContainer{
    width: 100vw;
    height: 85vh;
    align-self: center;
    justify-self: center;
    display: inline-flex;
}

#menuLeft, #menuRight {
    width: 7vw;
    height: 85vh;
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-rl;
    color: #000;
    font-family: 'Migra';
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#menuRight {
    margin-right: 0;
    margin-left: auto;
}

.menuLabelIcon {
    margin: 15px 0;
    height: 15px;
}

#contactHeading {
    margin-bottom: 0;
}

#contactSubHeading {
    letter-spacing: 2px;
    margin-bottom: 50px;
}

/*ABOUT PAGE*/

h1, h2, h3 {
    font-family: 'Migra';
}

#aboutMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
#aboutTLDR {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#tldrSection {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70vw;
    min-width: 400px;
    text-align: center;
}


#tldrSection h2 {
    font-size: 4em;
    text-align: center;
    margin: 20px 0 40px 0;
}

#tldrSection p {
   font-family: 'NeueMontreal', sans-serif; 
   font-weight: 500;
   line-height: 1.8;
   margin: 0 0 10px 0;
}

.tabContentContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 300px;
    flex-direction: column;
    text-align: center;
    font-family: 'NeueMontreal', sans-serif;
    font-weight: 500; 
}

.tab {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    border-top: 1px solid white;

    max-width: 900px;
  }

.tablinks {
    flex-grow: 1;
}

  #tldrSection div {
    text-align: center;
  }
  
  /* Style the buttons that are used to open the tab content */
  #folioTabs button, #aboutTabs button  {
    background-color: inherit;
    float: left;
    border-style: none;
    border-left: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: white;
  }
  
  #lastButton, #lastButton2 {
    border-right: 1px solid white !important;
  }

  /* Change background color of buttons on hover */
  #folioTabs button:hover, #aboutTabs button:hover {
    background-color: #cb1860;
  }
  
  /* Create an active/current tablink class */
  #folioTabs button.active, #aboutTabs button.active {
    background-color: #000 !important;
    text-decoration: underline;
    text-decoration-color: #cb1860;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }
  .hrTableLine {
    width: 100vw;
    position: relative;
    margin-top: 0;
  }

  #folioTabs {
    margin-bottom: 0;
  }

  .tabcontentAbout {
    border: 1px solid white;
  }


#footerAbout {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    width: calc(100% - 40px);
}

.aboutSubHeading {
    font-family: 'Migra';
    letter-spacing: 1px;
    font-size: 3em;
    margin: 0;
}

#comingSoonTitle {
    font-family: 'Migra';
    text-align: center;
    font-size: 10em;
    margin: 0;
    line-height: 0.85;
    height: 55vh;
    padding: 10vh;
}

.breakLineAbout {
    width: 100%;
    margin: 25px 0;
}

.halfHalf {
    max-width: 500px;
}
.halfHalf p {
    font-family: 'NeueMontreal';
}

#bioStudies, #bioExperience, #bioLearning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.halfHalfLeft {
    min-width: 300px;
}

/*CONTACT PAGE*/

#footerContact {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
}


/*PORTFOLIO PAGE*/

#portfolioMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#portfolioSection {

}

#footerContact {
    position: relative;
    bottom: 0;
    width: calc(100% - 40px);
}

.tabContentContainerFolio {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 300px;
    flex-direction: column;
    padding: 80px 0;
}

#portfolioContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabContentContainer a {
    text-align: center;
}

#folioHeader {
    display: flex;
    align-items: center;
}

#folioHeaderImage {
    background-image: url("../images/unicorn-wire.png");
    background-position: center;
    background-repeat: space;
    width: 100vw;
    transition: 2s;
    z-index: -5;
    background-size: contain;
    position: absolute;
    top: 50px;
}

.animate-morph {
    animation-name: move;
    transform-origin: 50%;
    animation: move 12s ease-in-out infinite alternate;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes move {
    0% {
        transform: scaleX(1);
    }
    20% {
        transform: scale(1, .95) translateX(2%);
    }
    50% {
        transform: scale(.95, 1) skewX(2deg) translateX(3%);
    }
    80% {
        transform: scale(1, .95) translate(3%, -4%);
    }
    100% {
        transform: scale(1, 1) skewX(-2deg) translate(0, -3%);
    }
}

#folioHeaderTitle:hover + #folioHeaderImage {
    background-image: url("../images/unicorn-render.png");
}

.folioTitle {
    text-align: left;
    margin: 0;
}
.folioDesc {

}

.skillTag {
    font-family: "NeueMontreal";
    font-size: x-small;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 300px;
    letter-spacing: 1px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}
.companyTag, .skillUsedTag {
    background-color: white;
    color: #000;
    font-weight: bold;
}

.companyTag, .featuredTag {
    margin-bottom: 20px;
}

.wrapperTags {
    display: flex;
    flex-wrap: wrap;
}

.featuredTag{
    background-color: #cb1860;
}

#folioSlabContent, #folioSlabContent2, #folioSlabContent3 {
    display: flex;
    flex-direction: column;
}

.plainLink {
    color: white;
}

.folioSlab {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid white;
    align-content: center;
    justify-content: center;
    margin: 20px 0;
}

.folioSlabL {
    height: 440px;
    width: 440px;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
}
.folioSlabR {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    padding: 20px;
    justify-content: center;
    align-content: center;
}

#bpiCrufts, #pfCoffee {
    min-width: 390px;
    min-height: 380px;
    display: flex;
    position: relative;
    margin: 0;
}

.projectImageFolio {
    background-size: cover;
    background-color: white;
    width: calc(100% - 30px);
    margin: 15px;
    height: 370px;
}


/*
FOLIO IMAGE SLIDERS
*/
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
  }

  .slideshow-container {
    width: 360px;
    height: 360px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 30px 30px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 30px 0 0 30px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(203, 24, 96, 0.8);
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

/*
END FOLIO IMAGE SLIDERS
*/